:root {
    --main-color: red;
    --header-color: #00ac1c;
    --footer-color: var(--header-color);

    --header-height: 3rem;
    --footer-height: 2rem;

    --titleapp-color: rgb(0 255 81);
    --page-max-width: 1200px;

    --box-color: lightgray;
    --box-shadows: 5px 6px 10px 0px rgba(0, 0, 0, 0.75);

    --main-button-color: rgb(225 225 225 / 75%);
    --img-background: url('../assets/bgMain.png');
}


* {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 99vh;
    max-width: var(--page-max-width);
    margin: 0 auto;
}

#header__logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px;
}

/* Header & Footer styles*/

#header__logo-txt {
    color: var(--titleapp-color);
    font-weight: 800;
    font-size: 1.6rem;
    margin: 0;
    text-shadow: 3px 2px 2px black;
}

#header__logo-img {
    width: 2rem;
    height: 2rem;
}

header,
footer {
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    max-width: var(--page-max-width);
    text-align: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header h5 {
    height: var(--header-height);
    margin-left: 4%;
    display: flex;
    align-items: center;
    font-size: x-large;
}

#header__where {
    position: fixed;
    right: 12%;
}

#header__title {
    display: flex;
    align-items: center;
    padding: 0 10px 0;
}


/* <main> style */

main {
    flex: 1;
    width: 100%;
    min-height: calc(100vh - 120px);
    /* Ajusta según el alto de header y footer */
    padding: var(--header-height) 20px var(--footer-height) 20px;
    background-color: var(--main-color);
}

/* Home styles */

main.home__container {
    padding-top: var(--header-height);
    display: flex;
    max-width: var(--page-max-width);
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    font-size: 1.2rem;
    flex-direction: column;
    background-image: var(--img-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.main__button {
    background-color: var(--main-button-color);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    width: 50%;
    text-align: center;
}

/* News styles */

main.news__container {
    /* abre hueco para el buscador bajo el header*/
    padding-top: calc(var(--header-height) * 2);
}

.news__card {
    border-radius: 5%;
    border: none;
    margin: 2% 0%;
    padding-bottom: 4%;
    overflow: hidden;
    background-color: var(--box-color);
    -webkit-box-shadow: var(--box-shadows);
    -moz-box-shadow: var(--box-shadows);
    box-shadow: var(--box-shadows);
}

.news__card img {
    width: 100%;
}

.news__card h5 {
    font-weight: lighter;
    font-size: 0.7rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1rem;
}

.news__card h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 2% 0 2%;
}

.news__card p {
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0 2% 0;
}

.news__card a {
    margin: 0 0 0% 70%;
    padding-bottom: 5%;
    font-size: 1rem;
}

/* Leaderboard styles */

main.leaderboard__container {
    /* abre hueco para el buscador bajo el header*/
    padding-top: calc(var(--header-height) * 2);
}

.leaderboard__event-block {
    margin-top: 5%;
}

.leaderboard__block {
    border-radius: 10px;
    background-color: lightblue;
    padding: 3%;
    list-style: none;
    margin: 2% 0;

    -webkit-box-shadow: var(--box-shadows);
    -moz-box-shadow: var(--box-shadows);
    box-shadow: var(--box-shadows);
}

.leaderboard__info {
    display: flex;
    align-content: stretch;
    align-items: center;
    font-size: larger;
}

.leaderboard__subinfo {
    font-size: small;
    display: flex;
    gap: 2%;
}

.leaderboard__head-info a {
    width: 25%;
}

.leaderboard__head-info span {
    position: fixed;
    right: 50px;
}

/* Buscador styles */

#form__buscar {
    display: flex;
    background-color: var(--box-color);
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#select__league {
    height: 2.5rem;
    border-radius: 1rem;
    margin: 1% 0% 1% 2%;
    padding: 0% 2%;
    width: 80%;
    font-size: 13pt;
}

/*Boton de regreso*/

#button__back {
    height: 3rem;
    padding: 9px 0;
}

.favorite {
    cursor: pointer;
    font-size: 32px;
    color: #411919;
    margin: 0 0 0 4%;
}

/* Footer para todas las screens */

footer h5 {
    height: var(--footer-height);
    margin-left: 4%;
    display: flex;
    align-items: center;
    font-size: small;
}


@media (min-width: 1001px) and (max-width: 2048px) {

    main.home__container {
        display: block;
    }

    .news__card {
        min-width: 40%;
        max-width: 40%;
        margin: 2% 0%;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7%;
        justify-content: center;
    }

}

/*mostrar botonera home en vertical*/

@media (min-width: 0px) and (max-width: 1000px) {

    main.home__container {
        display: flex;
    }

    .news__card {
        min-width: 40%;
        max-width: none;
        margin: 10% 0%;
    }

    main {
        display: block;
    }

}